<!DOCTYPE html>
<html ng-app="todoApp">
<head>
   <script src="angular.min.js"></script>
   <script src="todo.js"></script>
   <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
   <div class="container" ng-controller="TodoController">
      <h1 class="center-content">AngularJS todo app</h1>
      <!-- Form -->
      <form class="center-content" ng-submit="addTodo()">
         <input type="text" ng-model="todo" placeholder="Enter a todo">
      </form>
      <!-- list tasks -->
      <ul class="task-list">
         <li class="task {{todo.status}}" ng-repeat="todo in todos"
            ng-click="markAsDone(todo)">
            {{todo.text}}
         </li>
      </ul>
   </div>
   <div class="center-content summary" ng-controller="SummaryController">
         Total todos: {{todos.length}}
         Completed: {{getCompletedCount()}}
   </div>
</body>
</html>
